<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<body>
    <nav id="mainNavbar" class="navbar navbar-dark navbar-expand-md py-0 fixed-top">
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks"> <span class="navbar-toggler-icon bg-info"></span> </button>
        <div class="collapse navbar-collapse justify-content-end" id="navLinks">
            <ul class="navbar-nav">
                <li class="nav-item"> <a href="/Index" class="nav-link" style="color: black;">HOME</a> </li>
                <li class="nav-item"> <a href="/DehradunSS/About" class="nav-link" style="color: black;">ABOUT</a> </li>
                <li class="nav-item"> <a href="/DehradunSS/SignIn" class="nav-link" style="color: black;">SIGN IN</a> </li>
                <li class="nav-item"> <a href="/DehradunSS/DehradunSS" class="btn btn-success" onclick="Test()"> City Gis</a></li>
            </ul>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>
    <script>
        function Test() {
            localStorage.setItem("temp", 0);
        }
        
    </script>
</body>
</html>
